<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Task Timer</title>
<link rel="stylesheet" type="text/css" href="/css/basicHTML/header.css">
<link rel="stylesheet" type="text/css" href="/css/basicHTML/navigation.css">
<link rel="stylesheet" type="text/css" href="/css/basicHTML/footer.css">
<link rel="stylesheet" type="text/css" href="/css/basicHTML/table.css">
<link rel="stylesheet" type="text/css" href="/css/basicHTML/button.css">
<link rel="stylesheet" type="text/css" href="/css/basicHTML/input.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap" rel="stylesheet">
<script src="/js/fontAwesome.js" crossorigin="anonymous"></script>
