/* FOOTER */
main {
    min-height: calc(100vh - 70px - 80px - 40px);
}

footer {
    position: relative;
    height: 70px;
    width: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 70px;
    background: linear-gradient(90deg, rgba(108,88,175,1) 0%, rgba(135,88,175,1) 100%);
}

footer a {
    color: white;
    transition: color .3s;
}

footer a:visited{
    color: white;
}

footer a:hover{
    color: #ff8766;
}