table {
    color:#FFF;
    font-family:Raleway, sans-serif;
    position:relative;
    border-spacing:0;
    margin:30px auto;
}

thead {
    font-size:15px;
    letter-spacing:2px;
    background-color:#6c58af;
}

th {
    border:none;
    width:80px;
    height: 30px;
}

tbody {
    font-size:14px;
    text-align:center;
    color:#6c58af;
}

td {
    height:35px;
}

tbody tr:nth-child(2n) {
    background-color:#f6f6f6;
}

@media (min-width: 576px) {
    thead {
        font-size:20px;
    }

    th {
        width:140px;
        height: 40px;
    }

    tbody {
        font-size:16px;
    }
}