* {
    padding: 0;
    margin: 0;
}

main {
    font-family: 'Raleway', sans-serif;
}

.changeContainer {
    margin: 0 auto;
    position: relative;
    padding-top: 25px;
    width: 320px;
    text-align: center;
}

.changeContainer input {
    margin: 12px 0;
    font-size: 18px;
    width: 285px;
}

#changePassword {
    margin-top: 20px;
    padding: 0 20px;
    font-size: 16px;
}

#infoTable {
    display: none;
    margin-top: 30px;
    width: 320px;
}

#infoTable p {
    color: white;
    font-size: 18px;
}

/* .alert-logout {
    background-color: rgba(0, 151, 0, 0.6);
}

.alert-error {
    background-color: rgba(255, 0, 0, 0.6);
} */
