* {
    padding: 0;
    margin: 0;
}

body {
    color: #6c58af;
    font-family: 'Source Sans Pro', sans-serif;
}

.mainContainer {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 300px;
    padding-top: 50px;
    font-weight: 700;
    font-size: 24px;
}

#sendButton {
    margin-top: 20px;
    padding: 0 10px;
}

#emailInput {
    font-size: 18px;
}


