* {
    padding: 0;
    margin: 0;
}

body {
    color:  #6c58af;
    font-family:Raleway, sans-serif;
}

.alert {
    display: none;
}

#taskSelectContainer {
    padding-top: 25px;
    text-align: center;
    font-weight: 700;
}

#tasksList {
    border: 2px solid  #6c58af;
    width: 140px;
    color: #6c58af;
}

#stopwatch {
    text-align: center;
}

#timer {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

#timerContainer {
    padding-top: 30px;
    font-size: 48px;
}

#buttonsContainer {
    padding: 15px 0;
}

#buttonsContainer button {
    padding: 0 25px;
}

#clear {
    display: none;
}

.tableTitle {
    font-size: 20px;
}

#tBody button {
    padding: 0 5px;
    border-radius: 25%;
}

.complete {
    color: #299629;
    border-color: #299629;

}

.complete:hover {
    color: #00e300;
    border-color:  #00e300;
}

.incomplete {
    color:#b00000;
    border-color: #b00000;
}

.incomplete:hover {
    color:#ff1c1c;
    border-color:  #ff3636;
}

.alert {
    margin: 0 auto;
    width: 250px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.alert-logout {
    background-color: rgba(0, 151, 0, 0.6);
}

.archive {
    margin-left: 5px;
}

@media (min-width: 576px) {
    .tableTitle {
        font-size: 24px;
    }
}