* {
    margin:0;
    padding:0;
}

.isHidden {
    display:none;
}

.icon {
    text-align:center;
    padding:15px 0;
}

#iconButton {
    position:relative;
    width:60px;
    height:60px;
    border:3px solid #6c58af;
    border-radius:50%;
}

#iconButton:hover {
    border-color:#ff8766;
}

.icon img {
    position:absolute;
    transform:translate(-50%,-50%);
    height:80%;
}

#changeIconWindow {
    position:absolute;
    top:130px;
    left:50%;
    transform:translateX(-50%);
    width:300px;
    background-color:#FFF;
    border:2px solid #6c58af;
    z-index:2;
}

#iconList img {
    height:40px;
    padding:10px;
}

#profileForm {
    width:300px;
    padding-bottom:20px;
    margin:0 auto;
}

label {
    display:inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:700;
    width: 85px;
    color:#6c58af;
    padding:12px 0;
}

.formInput {
    width:210px;
    color:#6c58af;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    font-weight: 700;
    height:18px;
}

.fromInputEditable {
    outline:none;
    border-color:#6c58af;
    border-width:0 0 1px;
}

.fromInputUnEditable {
    border:none;
    background:none;
}

.form-button {
    position: relative;
    width: 300px;
}

.formElement {
    display: block;
    margin: 8px auto;
    padding:0 10px;
}

.createTaskContainer {
    text-align: center;
}

#createTask {
    font-family: 'Raleway', sans-serif;
    outline: none;
    border-width: 0 0 1px;
    border-color: #6c58af;
    color: #6c58af;
    font-size: 24px;
    transition: border-color .3s;
}

#createTask:focus {
    border-color: #ff8766;
}

#buttonCreateTask {
    padding: 0 10px;
    margin-left: 10px;
}

#createTask {
    width:220px;
    color:#6c58af;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    font-weight: 700;
    height:18px;
}

@media (max-width: 576px) {
    #createTask {
        width:125px;
    }
}

#tBody button {
    padding: 0 5px;
    border-radius: 25%;
}

.complete {
    color: #299629;
    border-color: #299629;
}

.complete:hover {
    color: #00e300;
    border-color: #00e300;
}

.incomplete {
    color: #b00000;
    border-color: #b00000;
}

.incomplete:hover {
    color: #ff1c1c;
    border-color: #ff3636;
}