/* @media (min-width: 576px) { ... } */

.nav-mobile {
    display: none;
}

.nav-desktop {
    position: relative;
    display: inline-block;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-desktop li {
    display: inline-block;
}

.nav-desktop  a {
    display: block;
    width: 140px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    transition: color 0.3s;
}

.nav-desktop a:hover {
    color:#ff8766 ;
}