<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="stylesheet" href="/css/create.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/basicModules.js"></script>
    <script src="/js/axios.min.js"></script>
</head>
<body>
<header></header>
<nav></nav>
<main>
    <div id="formContainer">
        <form>
            <div>
                <label>Emile: </label><input id="createInpEmail" type="text">
            </div>
            <div>
                <label>Username:</label><input id="createInpUsername" type="text">
            </div>
            <div>
                <label>Password:</label><input id="createInpPassword" type="password">
            </div>
            <div>
                <label>Repeat Password:</label><input id="createInpRepeatPassword" type="password">
            </div>
        </form>
        <button id="createButton" onclick="createUser()">Create</button>
    </div>
    <div id="infoTable"></div>
</main>
<footer></footer>
<script src="js/create.js"></script>
</body>
</html>