<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Timer</title>
    <link rel="stylesheet" href="css/basicHTML/table.css">
    <link rel="stylesheet" href="css/basicHTML/button.css">
    <link rel="stylesheet" href="/css/create.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap" rel="stylesheet">
    <script src="js/fontAwesome.js" crossorigin="anonymous"></script>
    <script src="js/axios.min.js"></script>
</head>
<body>
    <div th:replace="basicHtml/header :: header"></div>
    <div th:replace="basicHtml/navigation :: navigation"></div>
    <main>
        <div id="formContainer">
            <form>
                <div>
                    <label>Emile: </label><input id="createInpEmail" type="text">
                </div>
                <div>
                    <label>Username:</label><input id="createInpUsername" type="text">
                </div>
                <div>
                    <label>Password:</label><input id="createInpPassword" type="password">
                </div>
                <div>
                    <label>Repeat Password:</label><input id="createInpRepeatPassword" type="password">
                </div>
            </form>
            <button id="createButton" onclick="createUser()">Create</button>
        </div>
        <div id="infoTable"></div>
    </main>
    <div th:replace="basicHtml/footer :: footer"></div>
    <script src="js/create.js"></script>
</body>
</html>