<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Timer</title>
    <link rel="stylesheet" href="css/basicHTML/table.css">
    <link rel="stylesheet" href="css/basicHTML/button.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap" rel="stylesheet">
    <script src="js/fontAwesome.js" crossorigin="anonymous"></script>
    <script src="js/axios.min.js"></script>
</head>
<body>
<div th:replace="basicHtml/header :: header"></div>
<div th:replace="basicHtml/navigation :: navigation"></div>
<main>
    <div class="icon">
        <button id="iconButton" onclick="displayIconList();">
            <img id="profileImage" src="" alt="Profile avatar">
        </button>
    </div>
    <div id="changeIconWindow" class="isHidden">
        <div id="iconList"></div>
    </div>
    <form id="profileForm">
        <div>
            <label>Public ID: </label>
            <label id="labelPublicId"></label>
        </div>
        <div>
            <label>Username: </label>
            <input type="text" name="" id="inpUsername" value="" class="formInput">
        </div>
        <div>
            <label>Emile: </label>
            <input type="email" id="inpEmail" value="" class="formInput">
        </div>
        <div>
            <label>Edit</label>
            <input type="checkbox" id="checkboxEdit" onclick="editFrom()">
        </div>
        <div class="form-button">
            <button id="buttonSaveChanges" class="formElement" onclick="updateProfile()">Save change</button>
        </div>
    </form>
    <div>
        <table>
            <thead>
            <tr>
                <th>TaskName</th>
                <th>Archive</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="tBody">
            </tbody>
        </table>
    </div>
</main>
<div th:replace="basicHtml/footer :: footer"></div>
<script src="js/profile.js"></script>
</body>
</html>